main {
	padding: 20px;
	margin-top: 8px;
	border-radius: 0 0 5px 5px;
	text-align: left;
	color: #781600;
}

main h1 {
	text-align: left;
	font-size: 18px;
	padding-left: 8px;
	margin-bottom: 16px;
}

main p {
	font-size: 13px;
	padding-left: 8px;
	margin: 0;
}

main p:nth-child(5) {
	margin: 0;
}

main img {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	max-width: 100%;
}

main p a {
	color: #781600;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

main p a:hover {
	text-decoration: underline;
}

main ul {
	clear: both;
	padding-left: 28px;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}

main ol {
	padding-left: 22px;
}

main ol li:not(:first-child) {
	margin-top: 5px;
}

main table {
	margin: auto;
	background-color: #ffffff;
	border-collapse: collapse;
	max-width: 750px;
}

main table tr:not(:last-child) td {
	border-bottom: 1px solid #3d3d3d;
}

main table tr td:not(:last-child) {
	border-right: 1px solid #3d3d3d;
}

main table td {
	padding: 7px 15px;
}

main tbody tr:first-child td:nth-child(2) {
	width: 180px;
}

main tbody tr:not(:first-child) td {
	height: 50px;
}

main tbody tr:first-child td:last-child {
	text-align: center;
}

@media screen and (max-width: 500px) {
	table {
		font-size: 12px;
	}

	main table td {
		padding: 3px;
	}
}